
.page {
    display: flex;
    justify-content: center;
    background:
            /* url(../../../static/images/imagesForPresentationCom/leftStars.png) no-repeat left top,
            url(../../../static/images/imagesForPresentationCom/rightStarPNG.png) no-repeat right top,
            url(../../../static/images/imagesForPresentationCom/rabbit.png) no-repeat 60% 90%,
            #FEF7E5; */
            url(../../../assets/images/\ leftImg.png) no-repeat left top,
            url(../../../assets/images/rightImg.png) no-repeat right top,
            url(../../../assets/images/centeImg.png) no-repeat 50% bottom;
    background-color: #FEF7E5;
    min-height: 650px;
}
@media screen and (max-width: 1000px) { 
    .page {
        background: url(../../../assets/images/centeImg.png) no-repeat 50% 85%;
        background-color: #FEF7E5;
        min-height: 600px;
    }
}

.container {
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    /* width: 1220px; */
}
@media screen and (max-width: 1000px) { 
    .container {
        margin-top: 50px;
    }
}

.itemBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 565px;
}
@media screen and (max-width: 650px) { 
    .itemBlock {
        width: 320px;
    }
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100px;
    font-size: 55px;
    font-weight: 400;
    line-height: 67px;
    margin-bottom: 30px;
}
@media screen and (max-width: 650px) { 
    .heading{
        font-size: 33px;
        line-height: 45px;
        margin-bottom: 15px;
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.href {
    color: #6F1EAA;
    text-decoration: none;
}

/* .exa {
    position: absolute;
    height: 100%;
    left: 91%;
    right: -2.08%;
    top: -4px;
} */