.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1072px;
    /*width: 100%;*/
    min-height: 300px;
    background-color: #DFF5F6;
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 10px;
}
.avatar{
    width: 190px;
}
.information {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    width: 800px;
    height: 200px;
}

.authorBlock {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
}

.smallImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
}
.nameAuthor{
    display: flex;
    align-items: center;
    height: 30px;
}
